body {
    background-color: #f0f3e4; 
    font-family: sans-serif;
}
/*h1 Com cor diferente e centralizado*/
#titulo-principal {
    color: #007bff;
    text-align: center;
}
/*P Com tamanho Maior e justificado */
#Biografia {
    text-align: justify;
    font-size: 1.4em;
}
/*Espaçamento aumentado da ul */
ul {
    line-height: 1.9;
}
/*Bordas arredondadas e tamanho adequado*/
img {
    border-radius: 15px;
    width: 300px;
    height: auto;
}
/*Estilização da tabela */
table {
    width: 80%;
    margin: 20px;
    border-collapse: collapse;
}

th {
    background-color: #007bff;
    color: white;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

/*Mudança de cor ao passar o mouse */
a {color: red;}
a:hover{color: green;}
a {font-size: 35px;}

